.App {
  display: block;
  height: 100vh;
  width: 100%;
  font-family: "Kaushan Script", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.NavBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.Logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.Logo img {
  vertical-align: middle;
  border-style: none;
}

.NavBarToggler {
  display: inline-block;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  white-space: nowrap;
}

.NavBarToggler:focus {
  outline: 0;
}

.TogglerIcon {
  font-size: 2.5rem;
  color: #ef7998;
  cursor: pointer;
}

.NavBarCollapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  transition: 0.5s;
  overflow: hidden;
  max-height: 0%;
  animation: slidedown 0.15s linear;
  animation-fill-mode: forwards;
}

.List {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0rem;
  list-style: none;
}

.Link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
  color: #ef7998;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: none;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  cursor: pointer;
}

.Link:hover {
  color: black;
}

.Link:focus {
  outline: 0;
}

.Info {
  display: none;
  font-weight: 600;
  align-items: center;
}

.PhoneNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart {
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-height: 20px;
}

.Cart:hover {
  background-color: #ef7998;
  color: #fff;
}

.Price {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}

.HeaderContainer,
.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.HeaderRow {
  background: linear-gradient(
      rgba(240, 228, 148, 0.5),
      rgba(240, 228, 148, 0.5)
    ),
    url(./headerBcg.jpeg) center/cover fixed no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 76px);
}

.Banner {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-right: 1rem;
  padding-left: 0rem;
  margin-top: -4rem;
  text-align: center;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.Banner h1 {
  display: block;
  text-transform: capitalize;
  box-sizing: border-box;
  color: white;
  font-size: 2.5rem;
  margin-left: -1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.Banner strong {
  color: #ef7998;
  font-size: 4rem;
  font-weight: bolder;
}

.Banner button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  border: 0.2rem solid black;
  margin-left: -1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  background-color: transparent;
}

.Banner button:hover {
  background-color: black;
  color: #ef7998;
}

.Banner button:focus {
  outline: 0;
}

.About {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: block;
}

.Container {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.AboutRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.AboutColumn {
  margin: 3rem auto;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.AboutColumn h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.AboutColumn strong {
  color: #ef7998;
  font-size: 4rem;
  font-weight: bolder;
}

.AboutColumn p {
  color: #6c757d;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 75%;
}

.AboutColumn button {
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  background-color: transparent;
  background-image: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.AboutColumn button:hover {
  background-color: black;
  color: #ef7998;
}

.AboutColumn button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.AboutImgColumn {
  margin: 3rem auto;
  align-self: center;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

.AboutImgContainer {
  position: relative;
}

.AboutImgContainer::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid rgb(249, 228, 148);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.AboutImgContainer img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.AboutImgContainer:hover:before {
  top: 0;
  left: 0;
}

.Store {
  display: block;
  background: rgb(238, 238, 238);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Container {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.StoreRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.StoreTitle {
  position: relative;
  display: block;
  width: 100%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.StoreTitle h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.StoreTitle strong {
  color: #ef7998;
  font-size: 4rem;
  font-weight: bolder;
}

.StoreButton {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0.5rem auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.StoreButtons button {
  display: inline-block;
  margin: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  background-color: transparent;
}

.StoreButtons button:hover {
  background-color: black;
  color: #ef7998;
}

.StoreButtons button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.StoreSearch {
  display: flex;
  width: 50%;
  margin: 1rem auto;
  justify-content: center;
}

.StoreSearch form {
  display: block;
  width: 100%;
}

.Input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.InputPrepend {
  display: flex;
  margin-right: -1px;
}

.InputPrepend span {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #ef7998;
  color: black;
}

.Input input {
  display: block;
  position: relative;
  flex: 1 1 auto;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}

.StoreItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.StoreItem {
  margin: 0.5rem;
  flex: 0 0 30%;
  max-width: 30%;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.ImgContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ImgContainer:hover img {
  transform: scale(1.2);
}

.ImgContainer img {
  transition: all 1s ease-in-out;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  vertical-align: middle;
  border-style: none;
}

.ImgContainer:hover .ShoppingCartIcon {
  transform: translate(0, 0);
}

.ShoppingCartIcon {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: rgb(249, 228, 148);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.CardBody {
  background-color: #fff;
  flex: 1 1 auto;
  padding: 1.25rem;
  display: block;
}

.CardText {
  margin-bottom: 0;
  text-transform: capitalize;
  justify-content: space-between;
  display: flex;
}

.CardText h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.CardText strong {
  font-weight: 700;
}

@media (min-width: 576px) {
  .Container {
    max-width: 540px;
  }

  .StoreSearch {
    width: 83%;
  }

  .StoreTitle {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .StoreItem {
    flex: 0 0 46%;
    max-width: 46%;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 720px;
  }

  .AboutColumn {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .AboutRow {
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .AboutImgColumn {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .StoreItem {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }

  .NavBar {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .NavBarToggler {
    display: none;
  }

  .NavBarCollapse {
    display: flex;
    flex-basis: auto;
    justify-content: center;
  }

  .List {
    flex-direction: row;
    align-content: space-between;
  }

  .Item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .Info {
    display: flex;
  }

  .PhoneNumber {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .PhoneNumber span {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .Cart {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .CartIcon {
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .Container {
    max-width: 1140px;
  }
}
