.App {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center; /* manages vertical */
  justify-content: center; /* manages horizontal */
  background-color: rgb(159, 183, 207);
}

.msgBox {
  min-width: 60%;
  height: auto;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.msgBox h2 {
  margin-top: 0;
}

.msgBox input {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  min-width: 98%;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}

.msgBox button {
  width: 95px;
  height: 50px;
  background-color: rgb(159, 183, 207);
  margin-bottom: 2%;
  cursor: pointer;
  color: white;
  border-radius: 7%;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgBox button:hover {
  color: black;
}

.Alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 4%;
  height: 35px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
}

.lastMsg {
  color: rgb(159, 183, 207);
  text-transform: uppercase;
  margin-bottom: 2%;
}
